@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  min-width: 10vw;
  align-items: center;
  justify-content: center;
}

main.container {
  padding: 1em;
  padding-top: 5em;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

main.h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.form-controller {
  width: 100%;
  margin-bottom: 20px;
}

.form-controller input {
  width: 100%;
}

.form-controller textarea {
  width: 100%;
}

.two {
  float: left;
  width: 50%;
  margin-bottom: 20px;
}

.left {
  padding-left: 2%;
}

.btn {
  margin-top: 1rem;
  padding: 0.6rem;
  background-color: #8ebf30;
  cursor: pointer;
  color: white;
  font-size: 1.2rem;
  font-weight: 300;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.form-controller {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-controller label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-controller input {
  display: block;
  border-radius: 10px;
  font-size: 14px;
  width: 100%;
  padding: 10px;
}

.form-controller i {
  position: absolute;
  top: 45px;
  right: 10px;
  visibility: hidden;
}

.form-controller small {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-controller.success input {
  border-color: #8ebf30;
}

.form-controller.error input {
  border-color: #e7473c;
}

.form-controller.success i.fa-check-circle {
  color: #8ebf30;
  visibility: visible;
}

.form-controller.error i.fa-exclamation-circle {
  color: #e7473c;
  visibility: visible;
}

.form-controller.error small {
  visibility: visible;
  color: #e7473c;
}

@media (max-width: 600px) {
  body {
    padding: 10px !important;
  }
  .two {
    float: left;
    width: 100%;
    margin-bottom: 20px;
  }
  .left {
    padding-left: 0%;
  }
}
